body{
    font-family: 'Times New Roman';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: beige;
}

.container {
    text-align: center;
}

#jokeButton {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

#jokeButton:hover {
    background-color: #45a049; 
}